body {
  margin: 0;
  letter-spacing: 0.1em;
  line-height: 1.6;
  
}
.wrapper{
  
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
  grid-template-areas: "coverpage";
}

.acent_color{
  background-color: #2bacd3;
}
.acent_color_text{
  color: #2bacd3;
}

.light_acent_color{
  background-color: #5ebedd;
}
.light_acent_color_text{
  color: #5ebedd;
}

.seconady_color{
  background-color: #ed6c21
}
.seconady_color_text{
  color: #ed6c21;

}
.white_space_color{
  background-color: whitesmoke;
}
.white_space_color_text{
  color: whitesmoke;
}

.white_agenst_white_color{
  background-color: #d4e5f8;
}
button{
  border: 0;
}

.cover {
  z-index: 100000000000000000000;
  background-color: whitesmoke;
  grid-area: coverpage;

  font-family: "Cairo", sans-serif;
}
.coverpic {
  background: url(https://pbs.twimg.com/media/Bo1H_OuIYAA1RH0.jpg:large);

  height: 100%;
  width: 100%;

  position: fixed;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.cover-text-container {
  display: flex;
  flex-direction: row;
}

h3 {
  font-size: 1em;
  margin: 5% 10%;
}
h1 {
  margin: 50px 10px 0 0;
  font-size: 1.5em;
}

.under_text {
  margin: 0;
}

.button {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 50px;
  height: 75px;
  width: 75px;
  margin: 150px 0 0 0;
}
/* cover code end */

.site_wrapper {
  z-index: 100;
  grid-area: coverpage;
  font-family: "Roboto", sans-serif;

  grid-template-columns: 100vw;
  grid-template-rows: 30% 8% 45% 17%;
  grid-template-areas: "picture-gal" "Bar" "articel" "fotter";
}

.picture-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  width: 100%;
  height: 30%;
  margin: 5% 0 5% 0;

  grid-area: picture-gal;
}
.picture {
  height: 90%;
  margin: 0 1%;

  display: flex;
  justify-content: center;

}
/* js saker */
.div2 {
  width: 100%;
}
.div1 {
  width: 50%;
  margin-left: 0;
}
.div3 {
  width: 50%;
  margin-right: 0;
}
/* js saker */
#nr2 {
  background: url(../img/dog-1-433x296.jpg);
/* funkar inte att lägga de 3 undre raderna i classen picture vet inte varför */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#nr1 {
  background: url(../img/dog-2-hotdog-433x296.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#nr3 {
  background: url(../img/dog-sad-carrot-433x296.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Bar-container {
  grid-area: Bar;
  height: 8%;
  display: flex;
  justify-content: center;
}
.Bar {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 0 0.5%;
  box-sizing: border-box;
  justify-content: space-around;

  border-radius: 5px;
  width: 70%;
  height: 100%;

  box-shadow: 6px 17px 26px -16px rgba(0, 0, 0, 0.75);
}
.Bar h5{
  margin: 5px;
} 
.devider_bar {
  width: 2.5px;
  height: 100%;

  margin: 0 7.5% 0 10%;

  z-index: 300;
}
.next-button {
  border-radius: 50px;

  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.next-like {
  margin: 0 0 0 15%;
}

.info {
  grid-area: articel;
  width: 80%;

  background-color: rgba(43, 172, 211, 0.3);

  margin: 40px auto;

  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;

  border-radius: 5px;
}
h4,h5 {
  margin: 0 10%;
  color: #373737; 
}
.description{
  margin: 0 10% 5% 10%
}

.hover_con {
  height: 30vh;
  width: 60vw;

  z-index: 400;
  position: absolute;

  box-shadow: 10px 10px 47px -6px rgba(0, 0, 0, 0.3);
}


footer {
  grid-area: fotter;
  height: 15%;
  width: 100%;
}
.footer_information{
  display: none;
}
/* hambugemeny och dess inehåll */
.menu_container {
  font-family: "Roboto", sans-serif;

  height: 100%;
  width: 70%;
  z-index: 500;

  position: fixed;

  top: 0;
  right: 0;
}
.menu_container hr{
  border: 0;
}
.menu_background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.5);
  z-index: 400;
}
.menu_header {
  display: flex;
  flex-direction: row;
}
.icon-container{
  background: transparent;
}
.divider-menu {
  height: 0.5vh;
  width: 100%;
  margin-top: 10%;
}

a {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-decoration: none;
}

.find_matches_container {
  height: 10%;
}
.chat_matches_container {
  height: 10%;
}
.text-choice{
  margin: 10px;
  font-size: 1, 5rem;
}

.inactive {
  color: #373737; 
}
.menu-text {
  font-size: 2rem;
  margin: 5px;
}
.menu_button {
  margin: 1%;

  height: 7.5vh;
  width: 7.5vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 50px;
  background-color: #2b97d3;

  box-shadow: -2px -1px 36px 0px rgba(0, 0, 0, 0.33);

  cursor: pointer;
}
/* fixes for samler diveses mobile. */
@media screen and (max-device-width: 430px){
.Bar{
  justify-content: space-evenly;
  width: 50%;
}
.devider_bar{
  display: none;
}
.next-button{
  height:30px ;
  width:30px ;
  margin: 0 10px;
}
.Bar h5{
  display: none;
}
h1{
  font-size: 1.2em;
}
#nr2{
  min-width:200px ;
  min-height:150px ;
}

}
/* menu inehåll end */
/* desktop */

@media screen and (min-device-width: 640px) {
  .wrapper {
    display: grid;
    grid-template-areas:
      "header-desk"
      "site-desk";
    grid-template-columns: 100vw;
    grid-template-rows: 40vh 100vh;
  }

  .menu_container {
    width: 30vw;
  }
  .cover {
    position: static;
    z-index: 1;
    grid-area: header-desk;
  }
  .coverpic {
    background: url(../img/coverheader.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: static;

    flex-direction: row;
    justify-content: center;
  }

  .cover h1 {
    margin: 0 7.5px;
  }

  .button {
    display: none;
  }
  .site_wrapper {
    grid-area: site-desk;
    margin-top: 2.5%;
  }

  .picture-gallery {
    height: 80%;
    margin: 1% 0;
  }
  .picture {
    height: 100%;
  }
  #nr2 {
    width: 70%;
    background: url(../img/dog-1-865x592.jpg);
    /* samma gäller med raderna nedan för alla 3 även om jag säger samma sak högre upp fun kar det inte... om de inte är inkriva igen som jag gjort */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #nr1 {
    background: url(../img/dog-2-hotdog-865x592.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  #nr3 {
    background: url(../img/dog-sad-carrot-865x592.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }

  .Bar {
    width: 100vw;
    margin: 2.5vw 0;
    height: 15px;
    justify-content: center;
  }
  .devider {
    display: none;
  }
  .next-button {
    background-color: #d4e5f8;
  }
  .info {
    width: 50%;
    align-items: flex-start;
  }
  h3 {
    margin: 2% 10%;
  }
  .hover_con {
    width: 60vw;
    height: 12.5vh;
    border-radius: 2.5px;
    margin: -1vw -3.5vw;

    display: flex;
    align-items: center;
    justify-content: center; 

  }
  .hover_con h5{
    font-size: 0.70em;
  }
  footer {
    position: static;
    bottom: 0;
    height: 20%;

    display: flex;
    align-items: center;
  }
  .footer_information{
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  .alert_box{
    border-radius: 2.5px; 
  }
  .alert_box h6{
    margin: 0
  }
  .alert_button{
    margin: 0 3vw;
    border-radius: 50%;
    height: 3.5vw ;
    width: 3.5vw;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .alert_button:hover{
    box-shadow: -2px -1px 36px 0px rgba(0, 0, 0, 0.33);
  }
  .notification{
    margin-right: 20px;
  }

}
/* sizeing for bigger devices for desktop */
@media screen and (min-device-width: 1060px){
.picture{
  height: 50vh ;
}
.picture-gallery{
  height: 55vh;
}
h1{
  font-size: 3em;
}
.info h5,h3,h4{
  font-size: 1.2em;
}

}

/* site2 är tanken att det ska gå att utnyttaj viss css från site 1  men site 2 existerar inte i detta nu. */
