<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Wolfdare </title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo|Roboto:300,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <div class="wrapper">
        <nav class="menu_container white_space_color">
            <header class="menu_header acent_color">
                <button class="icon-container">
                    <i class="material-icons" id="close" style="font-size:50px">clear</i>
                </button>
                <h2 class="menu-text white_space_color_text">Menu</h2>
            </header>
            <hr class="divider-menu white_agenst_white_color">
             <div class="find_matches_container white_space_color">
                <a href="./index.html" class="light_acent_color_text text-choice">Find matches</a>
            </div>
            <hr class="divider-menu white_agenst_white_color">
            <div class="chat_matches_container white_space_color">
                <a href="./matches.html" class="inactive text-choice">Chat with matches</a>
            </div>
            <hr class="divider-menu white_agenst_white_color">
        </nav>

        <div class="menu_background"></div>

        <header class="cover">

            <article class="coverpic">
                <hgroup class="cover-text-container">
                    <h1 class="white_space_color_text">Find the</h1>
                    <h1 class="seconady_color_text">good boii/grill</h1>
                </hgroup>
                <h1 class="under_text white_space_color_text">for you</h1>
                
                <button class="button seconady_color">
                    <h3 class="white_space_color_text">Get started!</h3>
                </button>
 
            </article>

        </header>

        <main class="site_wrapper">
     
            <nav class="menu_button acent_color">
                <i class="material-icons" id="hamburger-menu" style="font-size:50px"> menu</i>
            </nav>

            <article class="picture-gallery">
                <section class="picture div1" id="nr1"></section>
                <section class="picture div2" id="nr2"></section>
                <section class="picture div3" id="nr3"></section>
            </article>

            <div class="Bar-container">
                <nav class="Bar acent_color">
                    <h5>Intrested?</h5>
                    <div class="devider_bar white_space_color"></div>
                    <button class="next next-button white_space_color"><i class="material-icons">clear</i></button>
                    <button class="next-like next-button white_space_color"><i class="material-icons">pets</i></button>
                </nav>
            </div>

            <article class="info">
                <hgroup class="hover_con acent_color">
                    <h4 class="con">Transelation</h4>
                    <h5 class="transelation">woff! woooof! woff woff woff! bark! woof woooof!</h5>
                </hgroup>
                <h3 class="white_space_color_text">About this girl!</h3>
                <h5 class="description">Happy and good gril. Protective of master. Loves when master talkes me out bikeing, runing
                    fast is the best. favorite food: crakers. Wants someone else to run with who is happy and energetic.</h5>    
            </article>


            <footer class="seconady_color">
               <article class=footer_information>
                    <button class="alert_button light_acent_color">
                        <i class="material-icons" style="font-size:3vw">notification_important</i> 
                    </button>
                     <section class="alert_box white_agenst_white_color">
                         <h5>Notifications</h5>
                        <ul> 
                            <li class="notification"><h6 >You have a total of 8 new matches</h6></li> 
                        </ul>  
                    </section>
                    <section>
                        <h3 class="white_space_color_text"> Contact information: none exists</h3>
                    </section>
                </article>
            </footer>

        </main>
    </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>