<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> wolfdare </title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo|Roboto:300,400,400i,700" rel="stylesheet">
</head>
<body> 
    <div class="wrapper"> 
    <!-- # cover whats is om in z index 10000000 -->
    <div class="cover">

        <div class="coverpic"">
            <div class="container"> <h1>Find the</h1> <h1 id="color">good boii/grill</h1></div><h1 id="under">for you</h1>
            <div class="button"> <h3>Get started!</h3> </div>
             <article>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem iusto perspiciatis porro unde cum laboriosam delectus provident qui optio perferendis. Possimus earum reiciendis alias accusantium saepe! Ipsum nam impedit neque.</h3>
            </article>
        </div>
       
    </div>

    <div class="site">
    
        <!-- # index Z 100 -->
        <div class="menu"></div>
        <div class="picture-gallery">
            <div class="picture" id="nr1"></div>
            <div class="picture" id="nr2"></div>
            <div class="picture" id="nr3"></div>
        </div>

        <div class="Bar-container">
        <div class="Bar">
            <h5>info</h5>
            <div class="devider"></div>
            <div class="next">next</div>
            <div class="next-like">like</div>
        
        </div></div>
        
        <article id=info>
            <h3>About this girl</h3>
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea earum quibusdam minima at voluptas quisquam repudiandae quaerat distinctio! Expedita cupiditate officia voluptate tempora sequi minima molestiae sapiente ab consequuntur voluptatum.</h5>
        </article>

        <footer></footer>

    </div>  
    </div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>