<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Wolfdare </title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo|Roboto:300,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    
</head>
<body> 
    <div class="wrapper"> 
    <!-- # cover whats is om in z index 10000000 -->
    <div class="cover">

        <div class="coverpic"">
            <div class="container"> <h1>Find the</h1> <h1 id="color">good boii/grill</h1></div><h1 id="under">for you</h1>
            <div class="button"> <h3>Get started!</h3> </div>
             <article id="cover-articel">
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem iusto perspiciatis porro unde cum laboriosam delectus provident qui optio perferendis. Possimus earum reiciendis alias accusantium saepe! Ipsum nam impedit neque.</h3>
            </article>
        </div>
       
    </div>

    <div class="site">
    
        <!-- # index Z 100 -->
        <div class="hambuger_menu"> 
            <i class="material-icons" id="hamburger-menu" style="font-size:50px"> menu</i>
        </div>

        <div class="menu">
            <div class="top-menu">
                <div class="icon-container">
                    <i class="material-icons" id="close" style="font-size:50px" >clear</i>
                </div>
                <h2 id="menu-text">Menu</h2>
            </div>
            <div class="divider-menu" id="margin"></div>
            <div class="chat_matches"> <h2 id="inactive">Chat with matches</h2></div>
            <div class="divider-menu"></div>
            <div class="find_matches"> <h2 id="active">Find matches</h2></div>
            <div class="divider-menu"></div>
        </div>  
        <div class="menu_background"></div>
        
        <div class="picture-gallery">
            <div class="picture" id="nr1"></div>
            <div class="picture" id="nr2"></div>
            <div class="picture" id="nr3"></div>
        </div>

        <div class="Bar-container">
        <div class="Bar">
            <h5>info</h5>
            <div class="devider"></div>
            <div class="next"><i class="material-icons">clear</i></div>
            <div class="next-like"><i class="material-icons">pets</i></div>
        
        </div></div>
        
        <article id="info">
            <div class="hover_con">
                <h4 id="con">more info</h4>
                <h5 id="con">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, placeat reiciendis, autem beatae aut labore, at nesciunt officia non culpa commodi nihil laudantium minus unde hic ipsa dolor maiores. Cumque.</h5>
            </div>
            <h3>About this girl</h3>
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea earum quibusdam minima at voluptas quisquam repudiandae quaerat distinctio! Expedita cupiditate officia voluptate tempora sequi minima molestiae sapiente ab consequuntur voluptatum.</h5>
        </article>
        

        <footer></footer>

    </div>  
    </div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>