<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Wolfdare </title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo|Roboto:300,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <div class="wrapper" id="site-two">
        <header>
            <div class="hambuger_menu menu-ham-site-two">
                <i class="material-icons" id="hamburger-menu" style="font-size:50px"> menu</i>
            </div>

            <div class="menu">
                <div class="top-menu">
                    <div class="icon-container">
                        <i class="material-icons" id="close" style="font-size:50px">clear</i>
                    </div>
                    <h2 id="menu-text">Menu</h2>
                </div>
                <div class="divider-menu" id="margin"></div>
                <div class="find_matches">
                    <h2 id="inactive">Find matches</h2>
                </div>
                <div class="divider-menu"></div>
                <div class="chat_matches">
                    <h2 id="active">Chat with matches</h2>
                </div>
                <div class="divider-menu"></div>
            </div>
        </header>
        <div class="menu_background"></div>

        <div class="info-top-container">
            <div class="top-container">
                <h3>infrmation this is the chating place</h3>
            </div>
        </div>
        <div class="site-container">
            <section class="profile-container">
                <div class="profile-pic"></div>
                <div class="chat-boox">
                    <h3>be the fisrst to say woff!</h3>
                </div>
            </section>
            

        </div>


    </div>
    </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>