<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> wolfdare </title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo|Roboto:300,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    
</head>
<body> 
    <div class="wrapper-m"> 
        <header>
        <div class="hambuger_menus"> 
            <i class="material-icons" id="hamburger-menu" style="font-size:50px"> menu</i>
        </div>
        </header>
        <div class="menu">
            <div class="icon-container">
                <i class="material-icons" id="close" style="font-size:50px" >clear</i>
            </div>
            <div class="chat_matches">chat whit matches</div>
            <div class="find_matches">find matches</div>
        </div>  
        <div class="menu_background"></div>

        <div class="box-top">
            <div class="box-top-con">
                <h3>Start chatting! Dare to woff!</h3>
            </div>
        </div>
        <div class="profile-pic" id="pro1"></div> <div class="chat-box"><h5>Be the first to woff!</h5></div>
        <div class="profile-pic" id="pro2"></div> <div class="chat-box"><h5>Be the first to woff!</h5></div>
        <div class="profile-pic" id="pro3"></div> <div class="chat-box"><h5>Be the first to woff!</h5></div>
        <div class="profile-pic" id="pro4"></div> <div class="chat-box"><h5>Be the first to woff!</h5></div>
        <div class="profile-pic" id="pro5"></div> <div class="chat-box"><h5>Be the first to woff!</h5></div>




        <footer></footer>
    </div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>